

/*.modal {*/
    /*display: flex;*/
    /*position: fixed;*/
    /*width: auto;*/
    /*height: auto;*/
    /*max-height: 70% !important ;*/
    /*overflow: hidden !important ;*/
    /*color: black !important;*/
    /*opacity: 0.9 !important;*/
/*}*/

/*.dropdown-content {*/
    /*max-height: 300px;*/
/*}*/


.modal {
    display: block;
    position: fixed;
    left:0;
    right:0;
    background-color: #fafafa;
    max-height: 50%;
    height: 50%;
    margin:auto;
    border-radius:2px;
    will-change:top,opacity;
    color: black !important;
    opacity: 0.9 !important;
    overflow: visible !important;
}

.modal-content {
    opacity: 0.9 !important;
    height:50%;
    padding:0;
    overflow: auto !important;
}

.modal-footer {
    opacity: 0.9 !important;
    bottom: 0;
    overflow: visible !important;
}
